<div class="col-12 user_card">
    <div class="row border m-1  radious">
        {{!-- 用戶卡片-頭貼 --}}
        <div class="user_card_pic col-md-12 col-lg-4 my-2">
            <img class="rounded-circle w-100" src="{{this.user_avatar}}">
        </div>
        {{!-- 用戶卡片-基本資料 --}}
        <div class="user_card_info col-md-12 col-lg-8 my-3 d-flex flex-column ">
            {{!-- 標題 --}}
            <div class="info_header ">
                <a class="d-inline" href="/users/{{this.user_id}}/tweets">
                    <h4 class="d-inline">{{this.user_name}}</h4>
                </a>
                <p class="d-md-block   my-2 text-secondary float-md-left d-md-inline float-lg-right">
                    {{#moment this.createdAt}}{{/moment}}</p>
            </div>
            {{!-- 內文 --}}
            <div class=" mb-3 info_description flex-grow-1">
                <p style="height:50px;">{{this.user_introduction}}
                </p>
            </div>
            {{!-- 社群指標 --}}

            <div class="info_btns mt-3">
                {{#ifCond  ../loginUser.id  this.id}}
                <a href=" /users/{{this.id}}/edit" class="btn btn-primary" class="d-block">edit</a>
                {{else}}
                {{#if this.isFollowed}}
                <form class="float-right" action="/followships/{{this.id}}?_method=Delete" method="POST">
                    <input type="hidden" name="FollowingId" value="{{this.id}}" />
                    <button type="submit" class="btn btn-primary">unfollow</button>
                </form>
                {{else}}
                <form class="float-right" action="/followships" method="POST">
                    <input type="hidden" name="FollowingId" value="{{this.id}}" />
                    <button type="submit" class="btn btn-primary">follow</button>
                </form>
                {{/if}}
                {{/ifCond}}
            </div>
        </div>
    </div>
</div>