{{!-- 用戶基本介紹 --}}
<div class="user_pic">
    <img class="radious" src="{{user.avatar}}" alt="{{user.name}}">
</div>
<div class="user_detail pl-2 mt-2">
    <h2>{{{user.name}}}</h2>
    <p>{{user.introduction}}</p>
    <a href="/users/{{user.id}}/tweets" class="my-2 d-block"><strong>Tweets | {{user.UserTweets.length}}</strong></a>
    <a href="/users/{{user.id}}/followings" class="d-block"><strong>
            Following | {{user.Followings.length}}
        </strong></a>
    <a href="/users/{{user.id}}/followers" class=" my-2 d-block"><strong>Follower |
            {{user.Followers.length}}</strong></a>
    <a href="/users/{{user.id}}/likes" class=" my-2 d-block"><strong>Like | {{user.LikedTweets.length}}</strong></a>
</div>
{{!-- 用戶社交數據 --}}
<div class="user_socialBtns pl-2 mt-4">
    <!--是自己 是edit 是別人follow-->
    {{#ifCond  User.id  user.id}}
    <a href="	/users/{{user.id}}/edit" class="btn" class="d-block">edit</a>
    {{else}}
    {{!-- 用戶編輯按鈕 --}}
    {{#if user.isFollowed}}
    <form action="/followships/{{user.id}}?_method=Delete" method="POST">
        <input type="hidden" name="FollowingId" value="{{user.id}}" />
        <button type="submit" class="btn btn-primary btn-block">Unfollow</button>
    </form>
    {{else}}
    <form action="/followships" method="POST">
        <input type="hidden" name="FollowingId" value="{{user.id}}" />
        <button type="submit" class="btn btn-primary btn-block">follow</button>
    </form>
    {{/if}}
    {{/ifCond }}
</div>