{{#if isAuthenticated}}
{{> user_nav }}
{{/if}}
<form action="/users/{{user.id}}/edit" method="POST" enctype="multipart/form-data">
  <div class="row">
    <div class="col-4">
      <img class="radious w-100" src="{{user.avatar}}" alt="{{user.name}}">
      <div class="form-group">
        <label for="image">Image</label>
        <input type="file" class="form-control-file" id="image" name="image">
      </div>
    </div>
    <div class="col-8">

      <input class="form-control" placeholder="name" value="{{user.name}}" name='name'>
      <textarea class="form-control" rows="3" value="{{user.introduction}}" name='introduction'></textarea>
      <button class="btn btn-primary" type="submit">Update</button>

    </div>
  </div>
</form>