{{#if isAuthenticated}}
{{> user_nav }}
{{/if}}
<div class="row my-5 d-flex   justify-content-center">
  {{!-- 左側-tweet-block --}}
  <div class="col-6">
    <form action="/tweets" method="post">
      <div class="form-group">
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="What's on your mind?"
          name="description"></textarea>
        <div class="d-flex flex-row-reverse">
          <div class="p-2">
            <button type="submit" class="btn btn-primary radious">Tweet</button>
          </div>
        </div>

      </div>
    </form>

    <div class="tweets ">
      <!--tweetsSection-->
      <div class="row">
        {{#each tweets}}
        <div class=" user_card col-12 border my-2 radious">
          <div class="row">
            {{!-- 用戶卡片-頭貼 --}}
            <div class="user_card_pic col-3 my-2">
              <img class="rounded-circle w-100" src="{{this.User.avatar}}">
            </div>
            {{!-- 用戶卡片-基本資料 --}}
            <div class="user_card_info col-9 my-3 d-flex flex-column justify-content-between">
              {{!-- 標題 --}}
              <div class="info_header ">
                <a class="d-inline" href="/users/{{this.User.id}}/tweets">
                  <h3 class="d-inline">{{this.User.name}}</h3>
                </a>
                <p class="d-inline ml-5 pt-2 text-secondary float-right"> {{#moment this.createdAt}}{{/moment}}</p>
              </div>
              {{!-- 內文 --}}
              <div class="info_description flex-grow-1">
                <p>{{this.description}}
                </p>
              </div>
              {{!-- 社群指標 --}}
              <div class="info_btns ">
                <a class="float-right pt-2" href="/tweets/{{this.id}}/replies">Reply {{this.Replies.length}}</a>
                <!--like unlike-->
                {{#if this.isLiked}}
                <form action="/tweets/{{this.id}}/unlike" method="POST" style="display: contents;">
                  <button type="submit" class="btn btn-link float-right">
                    <i class="far fa-heart " aria-hidden></i>
                    {{this.LikedUsers.length}}
                  </button>
                </form>
                {{else}}
                <form action="/tweets/{{this.id}}/like" method="POST" style="display: contents;">
                  <button type="submit" class="btn btn-link float-right">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                    {{this.LikedUsers.length}}
                  </button>
                  {{/if}}
              </div>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>

  {{!-- 右側-popular-block --}}
  <div class="col-3 ml-3">
    <h2>Popular</h2>
    <div class="row">
      {{#each users}}
      {{> user_card_mid}}
      {{/each}}

    </div>
  </div>

</div>
<!--分頁-->
<div class="d-flex justify-content-center ">
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="/tweets?page={{prev}}" aria-label="Previous">
          <span aria-hidden="true">«</span>
        </a>
      </li>
      {{#each totalPage}}
      {{#ifCond this ../page}}
      <li class="page-item active"><a class="page-link " href="#">{{this}}</a></li>
      {{else}}
      <li class="page-item"><a class="page-link" href="/tweets?page={{this}}">{{this}}</a></li>
      <!--用req.query取得-->
      {{/ifCond}}
      {{/each}}
      <a class="page-link" href="/tweets?page={{next}}" aria-label="Next">
        <span aria-hidden="true">»</span>
      </a>
      </li>
    </ul>
  </nav>

</div>