<div class="row my-5 d-flex   justify-content-around">
  {{!-- 左側-tweet-block --}}
  <div class="col-6">
    <form action="/tweets" method="post">
      <div class="form-group">
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="What's on your mind?"
          name="content"></textarea>
        <div class="d-flex flex-row-reverse">
          <div class="p-2">
            <button type="submit" class="btn btn-primary radious">Tweet</button>
          </div>
        </div>

      </div>
    </form>

    <div class="tweets ">
      <!--tweetsSection-->
      <div class="row">
        {{#each tweets}}
        {{> user_card_index}}
        {{/each}}
      </div>
    </div>
  </div>

  {{!-- 右側-popular-block --}}
  <div class="col-3 mr-2">
    <h2>Popular</h2>

    {{#each users}}
    <div class="row border border-secondary radious my-3">
      <div class=" col mt-2 mb-2">
        <img class="rounded-circle" src="{{this.avatar}}">
      </div>
      <div class="col mt-3 mb-3">
        <h5>{{this.name}}</h5>
        <p>{{this.introduction}}
        </p>
        <span>{{moment this.createdAt}}</span>
        <div class="text-right">
          {{#ifCond  ../loginUser.id  this.id}}

          <a href="	/users/{{this.id}}/edit" class="btn" class="d-block">edit</a>
          {{else}}
          {{#if this.isFollowed}}
          <form action="/followships/{{this.id}}?_method=Delete" method="POST">
            <input type="hidden" name="FollowingId" value="{{this.id}}" />
            <button type="submit" class="btn btn-primary">Unfollow</button>
          </form>
          {{else}}
          <form action="/followships" method="POST">
            <input type="hidden" name="FollowingId" value="{{this.id}}" />
            <button type="submit" class="btn btn-primary">follow</button>
          </form>
          {{/if}}
          {{/ifCond}}
        </div>
      </div>
    </div>
    {{/each}}

  </div>
</div>