<div class="row">
  <div class="col">
    <img src="{{user.avatar}}" alt="{{user.name}}">
    <h2>{{user.name}}</h2>
    <p>{{user.introduction}}</p>

    <a href="/users/{{user.id}}/tweets" class="d-block"><strong>Tweets {{user.UserTweets.length}}</strong></a>
    <a href="/users/{{user.id}}/followings" class="d-block"><strong>
        Following{{user.Followings.length}}
      </strong></a>
    <a href="/users/{{user.id}}/followers" class="d-block"><strong>Follower {{user.Followers.length}}</strong></a>
    <a href="/users/{{user.id}}/likes" class="d-block"><strong>Like {{user.LikedTweets.length}}</strong></a>
    <!--是自己 是edit 是別人follow-->
    {{#ifCond loginUser.id user.id}}
    <a href="	/users/{{user.id}}/edit" class="btn btn-primary" class="d-block">edit</a>
    {{else}}
    {{#if user.isFollowed}}
    <form action="/followships/{{user.id}}?_method=Delete" method="POST">
      <input type="hidden" name="FollowingId" value="{{user.id}}" />
      <button type="submit" class="btn btn-primary">Unfollow</button>
    </form>
    {{else}}
    <form action="/followships" method="POST">
      <input type="hidden" name="FollowingId" value="{{user.id}}" />
      <button type="submit" class="btn btn-primary">follow</button>
    </form>
    {{/if}}
    {{/ifCond }}

  </div>
  <div class="col">
    <h1>Following</h1>
    {{#each userFollowings}}
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{this.name}}</h5>

        <p class="card-text">{{this.introduction}}
        </p>
        <div class="card-body d-flex  flex-row-reverse">
          {{#ifCond ../loginUser.id this.id}}
          <a href="	/users/{{user.id}}/edit" class="btn btn-primary" class="d-block">edit</a>
          {{else}}
          {{#if this.isFollowed}}
          <form action="/followships/{{this.id}}?_method=Delete" method="POST">
            <input type="hidden" name="FollowingId" value="{{this.id}}" />
            <button type="submit" class="btn btn-primary">unfollow</button>
          </form>
          {{else}}
          <form action="/followships" method="POST">
            <input type="hidden" name="FollowingId" value="{{this.id}}" />
            <button type="submit" class="btn btn-primary">follow</button>
          </form>
          {{/if}}
          {{/ifCond }}
        </div>

      </div>
      {{/each}}
    </div>


  </div>
</div>