<div class="row">
  <div class="col">
    <img src="{{user.avatar}}" alt="{{user.name}}">
    <h2>{{{user.name}}}</h2>
    <p>{{user.introduction}}</p>

    <a href="/users/{{user.id}}/tweets" class="d-block"><strong>Tweets {{user.Tweets.length}}</strong></a>
    <a href="/users/{{user.id}}/followings" class="d-block"><strong>
        Following{{user.Followings.length}}
      </strong></a>
    <a href="/users/{{user.id}}/followers" class="d-block"><strong>Follower {{user.Followers.length}}</strong></a>
    <a href="/users/{{user.id}}/likes" class="d-block"><strong>Like {{user.LikedTweets.length}}</strong></a>
    <!--是自己 是edit 是別人follow-->
    {{#ifCond  User.id user.id}}
    <a href="	/users/{{user.id}}/edit" class="btn" class="d-block">edit</a>
    {{else}}
    {{#if player.isFollowed}}
    <form action="/followships/{{user.id}}?_method=Delete" method="POST">
      <input type="hidden" name="FollowingId" value="{{user.id}}" />
      <button type="submit" class="btn btn-primary">Unfollow</button>
    </form>
    {{else}}
    <form action="/followships" method="POST">
      <input type="hidden" name="FollowingId" value="{{user.id}}" />
      <button type="submit" class="btn btn-primary">follow</button>
    </form>
    {{/if}}

    {{/ifCond }}

  </div>
  <div class="col">
    {{#each userTweets}}
    <div class="row border border-dark">
      <div class=" col mt-2 mb-2">
        <img src="{{../user.avatar}}">
      </div>
      <div class="col mt-3 mb-3">
        <a href="/users/{{../user.id}}/tweets">
          <h5>{{../user.name}}</h5>

        </a>
        <span>{{this.createdAt}}</span>
        <p>{{this.description}}
        </p>

        <a href="/tweets/{{this.id}}/replies" class="mr-2">Reply{{this.Replies.length}}</a>

        <!--like unlike-->
        {{#if this.isLiked}}
        <form action="/tweets/{{this.id}}/unlike" method="POST" style="display: contents;">
          <button type="submit" class="btn btn-link">
            <i class="far fa-heart" aria-hidden></i>
            {{this.LikedUsers.length}}
          </button>

        </form>
        {{else}}
        <form action="/tweets/{{this.id}}/like" method="POST" style="display: contents;">
          <button type="submit" class="btn btn-link">
            <i class="fa fa-heart" aria-hidden="true"></i>
            {{this.LikedUsers.length}}
          </button>

          {{/if}}


      </div>
    </div>
    {{/each}}

  </div>
</div>